.card__content__registration{
  padding: 20px;
  width: 500px;
  margin: auto;
  &__title{
    text-align: center;
    font-weight: bold;
  }
  &__image{
    padding: 15px;
    img{
      height: 20px;
      width: 30px;
    }
  }
  &__block-title{
    margin-top: 20px;
    .require{
      padding: 3px;
      color: white;
      font-size: 12px;
      border-radius: 4px;
      background-color: #3ccace;
    }
  }
  &__input-text{
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    padding: 0 16px;
    width: 460px;
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
    &__year{
      margin-left: 20px;
    }
  }
  &__destroy-btn{
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    padding: 0 16px;
    width: 150px;
    border-radius: 4px;
    color: white;
    margin: 30px auto;
    background-color: #3ccace;
    border: 0px solid #000;
    text-align: center;

  }
  &__img-logo{
    width: 200px;
    margin: auto;
  }
  &__text-code{
    margin-bottom: 30px;
  }
  &__submit{
    text-align: center;
  }
  .input-half{
    width: 217px;
  }
  .submit-btn{
    color: white;
    margin: auto;
    border-radius: 4px;
    background-color: #3ccace;
    border: 0px solid #000;
    width: 150px;
    
  }
  .disabled{
    background-color: #f0f0f0;
  }
}
