%h1 Products#show
%p Find me in app/views/products/show.html.haml

-# %select{ @categories.map{ |category| [category.name, category.id] } }
-#   - @parents.each do |parent|
-#     %option 
-#       = parent.name 




= form_with(model: @product, local: true) do |form| 
  = form.select :category_id, @categories.map{ |category| [category.name, category.id] } 
